In [ ]:
!pip install sqlalchemy

In [ ]:
!pip install pyhive

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.schema import Table, MetaData
from sqlalchemy.sql.expression import select, text

engine = create_engine('presto://radek@ec2-3-236-240-83.compute-1.amazonaws.com:8889/hive/movielens')
connection = engine.connect()

In [ ]:
rows = connection.execute(text("SELECT * FROM movielens.movies limit 10")).fetchall()

In [ ]:
print(rows[0])

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(rows)

In [ ]:
df.head()

In [ ]:
table_df = pd.read_sql_table(
    'movies',
    con=engine
)

In [ ]:
table_df.head()

In [ ]:
sql_df = pd.read_sql(
    "SELECT * FROM movielens.movies limit 10",
    con=engine,
)

In [ ]:
sql_df.head()